<footer id="footer" class="flex-shrink-0 py-3 bg-dark text-white">
    <div class="container text-center">
      <small>Copyright &copy; <%= link_to "Andrii Kuluiev", "https://www.linkedin.com/in/andrey-kuluev-0353aa150/", class: "text-white" %> </small>
    </div>
</footer>
